@model WebThuCung.Dto.CustomerViewDto
@{
    string selectedPeriod = ViewBag.SelectedPeriod ?? "Ngày";
}

<div class="card info-card customers-card">

    <div class="filter">
        <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
            <li class="dropdown-header text-start">
                <h6>Lọc</h6>
            </li>
            <li><a class="dropdown-item" href="@Url.Action("Index", new { period = "Ngày" })">Hôm nay</a></li>
            <li><a class="dropdown-item" href="@Url.Action("Index", new { period = "Tuần" })">Tuần này</a></li>
            <li><a class="dropdown-item" href="@Url.Action("Index", new { period = "Tháng" })">Tháng này</a></li>
        </ul>
    </div>

    <div class="card-body">
        <h5 class="card-title">Khách hàng<span>| @selectedPeriod</span></h5>

        <div class="d-flex align-items-center">
            <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                <i class="bi bi-people"></i>
            </div>
            <div class="ps-3">
                @if (selectedPeriod == "Ngày")
                {
                    <h6>@Model.TotalCustomerToday</h6>
                    @if (Model.GrowthPercentageDay >= 0)
                    {
                        <span class="text-success small pt-1 fw-bold">@Model.GrowthPercentageDay.ToString("F2")%</span>
                        <span class="text-muted small pt-2 ps-1">Tăng</span>
                    }
                    else
                    {
                        <span class="text-danger small pt-1 fw-bold">@Model.GrowthPercentageDay.ToString("F2")%</span>
                        <span class="text-muted small pt-2 ps-1">Giảm bớt</span>
                    }
                }
                else if (selectedPeriod == "Tuần")
                {
                    <h6>@Model.TotalCustomerThisWeek</h6>
                    @if (Model.GrowthPercentageWeek >= 0)
                    {
                        <span class="text-success small pt-1 fw-bold">@Model.GrowthPercentageWeek.ToString("F2")%</span>
                        <span class="text-muted small pt-2 ps-1">Tăng</span>
                    }
                    else
                    {
                        <span class="text-danger small pt-1 fw-bold">@Model.GrowthPercentageWeek.ToString("F2")%</span>
                        <span class="text-muted small pt-2 ps-1">Giảm bớt</span>
                    }
                }
                else if (selectedPeriod == "Tháng")
                {
                    <h6>@Model.TotalCustomerThisMonth</h6>
                    @if (Model.GrowthPercentageMonth >= 0)
                    {
                        <span class="text-success small pt-1 fw-bold">@Model.GrowthPercentageMonth.ToString("F2")%</span>
                        <span class="text-muted small pt-2 ps-1">Tăng</span>
                    }
                    else
                    {
                        <span class="text-danger small pt-1 fw-bold">@Model.GrowthPercentageMonth.ToString("F2")%</span>
                        <span class="text-muted small pt-2 ps-1">Giảm bớt</span>
                    }
                }

            </div>
        </div>
    </div>
</div>
