@model List<WebThuCung.Dto.TopSellingProductDto>

<div class="card top-selling overflow-auto">
    <div class="filter">
        <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
            <li class="dropdown-header text-start">
                <h6>Lọc</h6>
            </li>
            <li><a class="dropdown-item" href="@Url.Action("Index", new { period = "Ngày" })">Hôm nay</a></li>
            <li><a class="dropdown-item" href="@Url.Action("Index", new { period = "Tuần" })">Tuần này</a></li>
            <li><a class="dropdown-item" href="@Url.Action("Index", new { period = "Tháng" })">Tháng này</a></li>
        </ul>
    </div>
    <div class="card-body pb-0">
        <h5 class="card-title">Sản phẩm bán chạy <span>| @ViewBag.SelectedPeriod</span></h5>
        <table class="table table-borderless">
            <thead>
                <tr>
                    <th scope="col">Xem trước</th>
                    <th scope="col">Sản phẩm</th>
                    <th scope="col">Giá</th>
                    <th scope="col">Đã bán</th>
                    <th scope="col">Doanh thu</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var product in Model)
                {
                    var revenue = product.DiscountedPrice * product.Sold;

                    <tr>
                        <th scope="row">
                            <a href="#"><img src="~/images/@product.ImageUrl" alt="Product Image" style="width: 50px; height: auto;"></a>
                        </th>
                        <td><a href="#" class="text-primary fw-bold">@product.ProductName</a></td>
                        <td>@product.DiscountedPrice.ToString("C")</td>
                        <td class="fw-bold">@product.Sold</td>
                        <td>@revenue.ToString("C")</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
